<div class="container" id='containerbg'>
	<br>

	<h1>Account Database</h1>

	<!-- Search bar -->
	<form class="" action="/account/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-7">
				<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
			<div class="form-group col-md-3">
				<select class="form-control" name="filter">
					<option value="username">Username</option>
					<option value="password">Password</option>
					<option value="email">Email</option>
					<option value="fname">First Name</option>
					<option value="lname">Last Name</option>
					<option value="street">Street</option>
					<option value="city">City</option>
					<option value="zip">Zip</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary btn-block">Search</button>
			</div>
		</div>
	</form>

	<!-- reset button -->
	<form action="/account" method="get">
		<button type="submit" class="btn btn-danger btn-block">Reset Table Display</button>
	</form>
	<br />

	<!-- Add Account -->

	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addaccount" aria-expanded="false" aria-controls="addaccount">
		Add Account
	</button><br />
	<div class="collapse" id="addaccount">
		<form action="/account/add" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newUsername">Username</label>
					<input type="text" class="form-control" name="newUsername" placeholder="Username">
				</div>
				<div class="form-group col-md-6">
					<label for="newPassword">Password</label>
					<input type="password" class="form-control" name="newPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<label for="newEmail">Email address</label>
				<input type="email" class="form-control" name="newEmail" aria-describedby="emailHelp" placeholder="Email address">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newFname">First Name</label>
					<input type="text" class="form-control" name="newFname" placeholder="First Name">
				</div>
				<div class="form-group col-md-6">
					<label for="newLname">Last Name</label>
					<input type="text" class="form-control" name="newLname" placeholder="Last Name">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="newStreet">Street</label>
					<input type="text" class="form-control" name="newStreet" placeholder="Street">
				</div>
				<div class="form-group col-md-5">
					<label for="newCity">City</label>
					<input type="text" class="form-control" name="newCity" placeholder="City">
				</div>
				<div class="form-group col-md-2">
					<label for="newZip">Zip</label>
					<input type="text" class="form-control" name="newZip" placeholder="Zip">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<hr>

	<!-- Display Account Data -->

	<div class="table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>User ID</th>
					<th>Username</th>
					<th>Password</th>
					<th>Email</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Street</th>
					<th>City</th>
					<th>Zip</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each account}}
				<tr>
					<td>
						{{id}}
					</td>
					<td>
						{{username}}
					</td>
					<td>
						{{password}}
					</td>
					<td>
						{{email}}
					</td>
					<td>
						{{fname}}
					</td>
					<td>
						{{lname}}
					</td>
					<td>
						{{street}}
					</td>
					<td>
						{{city}}
					</td>
					<td>
						{{zip}}
					</td>
					<td>
						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalUpdate{{id}}">Update</button>
					</td>
					<td>
						<form action="account/delete" method="post">
							<input type="hidden" name="deleteID" value="{{id}}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>

	<!-- Edit Pop Up (called Modal) -->
	{{#each account}}

	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="modalUpdate{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/account/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5">Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">

							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editUsername">Username</label>
								<input type="text" name="editUsername" class="form-control validate" value="{{username}}" required>
							</div>

							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editPassword">Password</label>
								<input type="text" name="editPassword" class="form-control validate" value="{{password}}" required>
							</div>

							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editEmail">Email</label>
								<input type="text" name="editEmail" class="form-control validate" value="{{email}}" required>
							</div>

							<div class="form-row">
								<div class="col">
									<label data-error="wrong" data-success="right" for="editFname">First Name</label>
									<input type="text" name="editFname" class="form-control validate" value="{{fname}}" required>
								</div>

								<div class="col">
									<label data-error="wrong" data-success="right" for="editLname">Last Name</label>
									<input type="text" name="editLname" class="form-control datepicker" value="{{lname}}" required>
								</div>
							</div>

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="editStreet">Street</label>
								<input type="text" name="editStreet" class="form-control validate" value="{{street}}" required>
							</div>

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="editCity">City</label>
								<input type="text" name="editCity" class="form-control validate" value="{{city}}" required>
							</div>

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="editZip">Zip</label>
								<input type="text" name="editZip" class="form-control validate" value="{{zip}}" required>
							</div>

						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-secondary btn-block updateInside">
								Confirm Changes
								<i class="fas fa-paper-plane-o ml-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	{{/each}}

</div>
