<div class="container" id='containerbg'>
	<br>
	<h1>Category Table</h1>

	<!-- search bar -->

	<form action="/categories/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-10">
				<input name="searchName" class="form-control" type="text" placeholder="Search Category Name" aria-label="Search" />
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary btn-block">Search</button>
			</div>
		</div>
	</form>
	<form action="/categories" method="get">
			<button type="submit" class="btn btn-danger btn-block">Reset Table Display</button>
	</form>

	<br>

	<!-- add item -->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addcategory" aria-expanded="false" aria-controls="addcategory">
		Add Category
	</button><br />
	<div class="collapse" id="addcategory">
		<form id="addCategories" action="/categories/add" method="post">
			<div class="form-group">
				<label for="newName">Category Name</label>
				<input type="text" class="form-control" id="newName" name="newName" placeholder="Category Name" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr />

	<!-- display item -->
	<table class='table'>
		<thead>
			<tr>
				<th>Category ID</th>
				<th>Category Name</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each categories}}
			<tr>
				<td>
					<span id='categoryid'>{{id}}</span>
				</td>
				<td>
					<span id='categoryname'>{{name}}</span> <br>
				</td>
				<td>
					<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalUpdate{{id}}">Update</button>
				</td>
				<td>
					<form action="categories/delete" method="post">
						<input type="hidden" name="deleteID" value="{{id}}">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<!-- Update Pop Up (called Modal) -->
	{{#each categories}}

	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="modalUpdate{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/categories/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5">Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">
							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="updateUsername">Name</label>
								<input type="text" name="updateName" class="form-control validate" value="{{name}}">
							</div>

						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-secondary btn-block updateInside">
								Confirm Changes
								<i class="fas fa-paper-plane-o ml-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	{{/each}}
	
</div>
