<div class="container" id='containerbg'>
	<br>

	<h1>Orders Database</h1>

	<!-- search bar -->
	<form class="" action="/orders/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-7">
				<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
			<div class="form-group col-md-3">
				<select class="form-control" name="filter">
					<option value="orders.id">Order Number</option>
					<option value="account.username">Username</option>
					<option value="orders.payment_id">Order Date</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary btn-block">Search</button>
			</div>
		</div>
	</form>

	<!-- reset button -->
	<form action="/orders" method="get">
		<button type="submit" class="btn btn-danger btn-block">Reset Table Display</button>
	</form>
	<br>

	<!-- add item -->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addorder" aria-expanded="false" aria-controls="addorder">
		Add Order
	</button><br />
	<div class="collapse" id="addorder">
		<form action="/orders/add" method="post">
			<div class="form-row">
				<div class="col">
					<label data-error="wrong" data-success="right" for="updatePaymentID">Payment ID</label>
					<select class="form-control" name="newPaymentID">
						{{#each accountPayment}}
						<optgroup label={{username}}>
							{{#each pid}}
							<option value="{{../uid}}-{{this}}">{{this}}</option>
							{{/each}}
						</optgroup>
						{{/each}}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="newDate">Order Date</label>
				<input type="date" class="form-control" name="newDate" placeholder="newDate">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<!-- Display Order Data -->
	<div class="table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>Order Number</th>
					<th>Username</th>
					<th>Payment ID</th>
					<th>Order Total</th>
					<th>Order Date</th>
					<th>Order Detail</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each orders_account}}
				<tr>
					<td>{{id}}</td>
					<td>{{username}}</td>
					<td>{{payment_id}}</td>
					<td>${{order_total}}</td>
					<td>{{order_date_formatted}}</td>
					<td>
						<form action="/orders_product" method="get">
							<input type="hidden" name="id" value="{{id}}">
							<button type="submit" class="btn btn-dark">View</button>
						</form>
					</td>
					<td>
						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalUpdate{{id}}">Update</button>
					</td>
					<td>
						<form action="/orders/delete" method="post">
							<input type="hidden" name="id" value="{{id}}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>


	<!-- Edit Pop Up (called Modal) -->
	{{#each orders_account}}

	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="modalUpdate{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/orders/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5">Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">

							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="updateOrderDate">Order Date</label>
								<input type="date" name="updateOrderDate" class="form-control validate" value="{{order_date}}" required>
							</div>

							<div class="form-row">
								<div class="col">
									<label data-error="wrong" data-success="right" for="updatePaymentID">Payment ID</label>
									<select class="form-control" name="newPaymentID">
										{{#each ../accountPayment}}
										<optgroup label={{username}}>
											{{#each pid}}
											<option value="{{../uid}}-{{this}}">{{this}}</option>
											{{/each}}
										</optgroup>
										{{/each}}
									</select>
								</div>
							</div>
							<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
								<button type="submit" class="btn btn-secondary btn-block updateInside">
									Confirm Changes
									<i class="fas fa-paper-plane-o ml-1"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	{{/each}}



</div>
