<div class="container" id='containerbg'>
	<br>
	<h1>orders_product Database</h1><hr>

	<!-- search bar -->
	<form action="/orders_product/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-10">
				<input name="searchName" class="form-control" type="text" placeholder="Search Product Name" aria-label="Search" />
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary btn-block">Search</button>
			</div>
		</div>
	</form>
	<br>

	<!-- reset button -->
	<form action="/orders_product" method="get">
		<input type="hidden" name="id" value="{{this_id}}">
		<button type="submit" class="btn btn-danger btn-block">Reset Table Display</button>
	</form>
	<br>

	<!-- add item -->
	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addorders_product" aria-expanded="false" aria-controls="addorders_product">
		Add orders_product
	</button><br />
	<div class="collapse" id="addorders_product">
		<form action="/orders_product/add" method="post">
			<input type="hidden" name="newOrdersID" value="{{this_id}}">
			<div class="form-group">
				<label for="newProductID">Product</label>
				<select class="form-control" name="newProductID">
					{{#each product}}
					<option value={{id}}>{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-group">
				<label for="newQuantity">Quantity</label>
				<input type="number" min="0" step="1" class="form-control" name="newQuantity" placeholder="Quantity">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<br>

	<!-- display item -->
	<table class='table'>
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Price per Item</th>
				<th>Quantity</th>
				<th>Subtotal</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			{{#each orders_product}}
			<tr>
				<td>{{product_id}}</td>
				<td>{{name}}</td>
				<td>${{price}}</td>
				<td>{{quantity}}</td>
				<td>${{subtotal}}</td>
				<td>
					<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalUpdate{{product_id}}">Update</button>
				</td>
				<td>
					<form action="orders_product/delete" method="post">
						<input type="hidden" name="ordersID" value="{{orders_id}}">
						<input type="hidden" name="productID" value="{{product_id}}">
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<!-- Update Pop Up (called Modal) -->
	{{#each orders_product}}

	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="modalUpdate{{product_id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/orders_product/update" method="post">
						<input type="hidden" name="updateOrdersID" value="{{orders_id}}">
						<input type="hidden" name="updateProductID" value="{{product_id}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5">Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="updateQuantity">Quantity</label>
								<input type="number" name="updateQuantity" class="form-control validate" value="{{quantity}}" required>
							</div>

						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-secondary btn-block updateInside">
								Confirm Changes
								<i class="fas fa-paper-plane-o ml-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	{{/each}}

</div>
