<link rel="stylesheet" href="/css/payment.css">

<div class="container" id='containerbg'>
	<br>
	<h1>Payment Database</h1>

	<!-- Search bar -->

	<form class="" action="/payment/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-7">
				<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
			<div class="form-group col-md-3">
				<select class="form-control" name="filter">
					<option value="id">Payment ID</option>
					<option value="username">User ID</option>
					<option value="email">Email</option>
					<option value="fname">First Name</option>
					<option value="lname">Last Name</option>
					<option value="street">Street</option>
					<option value="city">City</option>
					<option value="zip">Zip</option>
					<option value="card_num">Card Number</option>
					<option value="card_num">Expiration</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary btn-block">Search</button>
			</div>
		</div>
	</form>

	<!-- reset button -->
	<form action="/payment" method="get">
		<button type="submit" class="btn btn-danger btn-block">Reset Table Display</button>
	</form>
	<br>

	<!-- Add Payment -->

	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addpayment" aria-expanded="false" aria-controls="addpayment">
		Add Payment
	</button><br />
	<div class="collapse" id="addpayment">
		<form action="/payment/add" method="post">
			<div class="form-group">
				<label for="newUserID">User ID</label>
				<select class="form-control" name="newUserID">
					{{#each account}}
					<option value={{id}}>{{username}}</option>
					{{/each}}
				</select>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newFname">First Name</label>
					<input type="text" class="form-control" name="newFname" placeholder="First Name">
				</div>
				<div class="form-group col-md-6">
					<label for="newLname">Last Name</label>
					<input type="text" class="form-control" name="newLname" placeholder="Last Name">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="newStreet">Street</label>
					<input type="text" class="form-control" name="newStreet" placeholder="Street">
				</div>
				<div class="form-group col-md-5">
					<label for="newCity">City</label>
					<input type="text" class="form-control" name="newCity" placeholder="City">
				</div>
				<div class="form-group col-md-2">
					<label for="newZip">Zip</label>
					<input type="text" class="form-control" name="newZip" placeholder="Zip">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-8">
					<label for="newCardNum">Card Number</label>
					<input type="number" class="form-control" name="newCardNum" placeholder="Card Number">
				</div>
				<div class="form-group col-md-2">
					<label for="newExpMonth">Expiration Month</label>
					<input type="number" min="1" step="1" max="12" class="form-control" name="newExpMonth" placeholder="MM">
				</div>
				<div class="form-group col-md-2">
					<label for="newExpYear">Expiration Year</label>
					<input type="number" min="0" step="1" max="99" class="form-control" name="newExpYear" placeholder="YY">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr />

	<!-- Display Account Data -->

	<div class="table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>Payment ID</th>
					<th>Username</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Street</th>
					<th>City</th>
					<th>Zip</th>
					<th>Card Number</th>
					<th>Exp Month</th>
					<th>Exp Year</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each payment}}
				<tr>
					<td>{{pid}}</td>
					<td>{{username}}</td>
					<td>{{fname}}</td>
					<td>{{lname}}</td>
					<td>{{street}}</td>
					<td>{{city}}</td>
					<td>{{zip}}</td>
					<td>{{card_num}}</td>
					<td>{{exp_month}}</td>
					<td>{{exp_year}}</td>
					<td>
						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalUpdate{{pid}}">Update</button>
					</td>
					<td>
						<form action="payment/delete" method="post">
							<input type="hidden" name="deleteID" value="{{pid}}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>


	<!-- Edit Pop Up (called Modal) -->
	{{#each payment}}

	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="modalUpdate{{pid}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/payment/update" method="post">
						<input type="hidden" name="updateID" value="{{pid}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5">Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">

							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="editUserID">User ID</label>
								<select class="form-control" name="editUserID">
									<option value={{user_id}}>{{username}}</option>
								</select>
							</div>

							<div class="form-row">
								<div class="col">
									<label data-error="wrong" data-success="right" for="editFname">First Name</label>
									<input type="text" name="editFname" class="form-control validate" value="{{fname}}" required>
								</div>

								<div class="col">
									<label data-error="wrong" data-success="right" for="editLname">Last Name</label>
									<input type="text" name="editLname" class="form-control datepicker" value="{{lname}}" required>
								</div>
							</div>

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="editStreet">Street</label>
								<input type="text" name="editStreet" class="form-control validate" value="{{street}}" required>
							</div>

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="editCity">City</label>
								<input type="text" name="editCity" class="form-control validate" value="{{city}}" required>
							</div>

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="editZip">Zip</label>
								<input type="number" name="editZip" class="form-control validate" value="{{zip}}" required>
							</div>

							<div class="md-form">
								<label data-error="wrong" data-success="right" for="editCardNum">Card Number</label>
								<input type="number" name="editCardNum" class="form-control validate" value="{{card_num}}" required>
							</div>

							<div class="form-row">
								<div class="col">
									<label data-error="wrong" data-success="right" for="editExpMonth">Expiration Month</label>
									<input type="number" min="1" step="1" max="12" name="editExpMonth" class="form-control validate" value="{{exp_month}}" required>
								</div>

								<div class="col">
									<label data-error="wrong" data-success="right" for="editExpYear">Expiration Year</label>
									<input type="number" min="0" step="1" max="99" name="editExpYear" class="form-control validate" value="{{exp_year}}" required>
								</div>
							</div>

						</div>
						<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
							<button type="submit" class="btn btn-secondary btn-block updateInside">
								Confirm Changes
								<i class="fas fa-paper-plane-o ml-1"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	{{/each}}


</div>
