<div class="container" id='containerbg'>
	<br>
	<h1>Product Database</h1>

	<!-- Search Account -->

	<form class="" action="/product/search" method="get">
		<div class="form-row">
			<div class="form-group col-md-7">
				<input name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
			</div>
			<div class="form-group col-md-3">
				<select class="form-control" name="filter">
					<option value="name">Name</option>
					<option value="id">Product ID</option>
					<option value="categories_id">Category ID</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<button type="submit" class="btn btn-primary btn-block">Search</button>
			</div>
		</div>
	</form>

	<!-- reset button -->
	<form action="/product" method="get">
		<button type="submit" class="btn btn-danger btn-block">Reset Table Display</button>
	</form>
	<br>

	<!-- Add Product -->

	<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addproduct" aria-expanded="false" aria-controls="addproduct">
		Add Product
	</button><br />
	<div class="collapse" id="addproduct">
		<form action="/product/add" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newProductName">Product Name</label>
					<input type="text" class="form-control" name="newProductName" placeholder="Product Name">
				</div>
				<div class="form-group col-md-6">
					<label for="newCategories">Category</label>
					<select class="form-control" name="newCategories">
						<option value="NULL">None</option>
						{{#each categories}}
						<option value={{id}}>{{name}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="newPrice">Price</label>
					<input type="number" min="0.00" step="0.01" class="form-control" name="newPrice" placeholder="Price">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr>

	<!-- Display Product Data -->

	<div class="table-responsive">
		<table class='table'>
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Category</th>
					<th>Update</th>
					<th>Remove Product</th>
				</tr>
			</thead>
			<tbody>
				{{#each product}}
				<tr>
					<td>{{name}}</td>
					<td>${{price}}</td>
					<td>{{categories_name}}</td>
					<td>
						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalUpdate{{id}}">Update</button>
					</td>
					<td>
						<form action="product/delete" method="post">
							<input type="hidden" name="deleteID" value="{{id}}">
							<button type="submit" class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>


	<!-- Update Pop Up (called Modal) -->
	{{#each product}}

	<div class="row d-flex justify-content-center modalWrapper">
		<div class="modal fade modalUpdateClass" id="modalUpdate{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/product/update" method="post">
						<input type="hidden" name="updateID" value="{{id}}">
						<div class="modal-header text-center">
							<h4 class="modal-title w-100 font-weight-bold ml-5">Update Entry</h4>
							<button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body mx-3">

							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="updateName">Name</label>
								<input type="text" name="updateName" class="form-control validate" value="{{name}}" required>
							</div>

							<div class="md-form mb-1">
								<label data-error="wrong" data-success="right" for="updatePrice">Price</label>
								<input type="text" name="updatePrice" class="form-control validate" value="{{price}}" required>
							</div>

							<div class="form-row">
								<div class="col">
									<label data-error="wrong" data-success="right" for="updateCategories_id">Category ID</label>
									<select class="form-control" name="updateCategories_id">
										<option value="NULL">None</option>
										{{#each ../categories}}
										<option value={{id}}>{{id}} - {{name}}</option>
										{{/each}}
									</select>
								</div>


							</div>
							<div class="modal-footer d-flex justify-content-center updateInsideWrapper">
								<button type="submit" class="btn btn-secondary btn-block updateInside">
									Confirm Changes
									<i class="fas fa-paper-plane-o ml-1"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>
	{{/each}}

</div>
